.client {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-content: center;
}
.client__item {
  margin-right: 30px;
  text-align: center;
  &:last-child {
    margin: 0;
  }
}
.client__item {
  flex-basis: calc(100% / 6)-30px;
  width: 170px;
  height: 92px;
}
.client__link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  background: var(--for-black-color);
  fill: #afb1b8;
  transition: border, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: #2196f3;
    border: 1px solid #2196f3;
  }
}
