.feature {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.feature__item {
  flex-basis: calc(100% / 4)-30px;
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}
.feature__title {
  color: var(--title-text-color);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  margin-bottom: 10px;
}
.feature__text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.714;
}
.feature__wrapper {
  width: 270px;
  height: 120px;
  padding: 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: var(--bg-team);
}
