.form {
  width: 100%;
  height: 100%;
  /* outline: 1px solid gold; */
  padding: 40px;
}
.form__title {
  font-weight: bold;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.form__field {
  display: flex;
  flex-direction: column;
}
.form__label {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form__input {
  border-color: 1px solid rgba(33, 33, 33, 0.2);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;
  color: #757575;
  padding-left: 42px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 11px;
  margin-bottom: 10px;
  cursor: pointer;
}
.form__input:hover,
.form__input:focus,
.form__input:focus + .form__icon--person,
.form__input:hover + .form__icon--person,
.form__input:focus + .form__icon--email,
.form__input:hover + .form__icon--email,
.form__input:focus + .form__icon--phone,
.form__input:hover + .form__icon--phone {
  border-color: var(--accent-color);
  outline: var(--accent-color);
  fill: var(--accent-color);
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form__icon {
  position: absolute;
  left: 50px;
  cursor: pointer;
  fill: var(--title-text-color);
}
.form__icon--person {
  top: 105px;
}
.form__icon--email {
  top: 238px;
}
.form__icon--phone {
  top: 172px;
}
.form__input:focus,
.form__input:hover,
.form__icon--person:hover,
.form__icon--person:focus,
.form__icon--phone:hover,
.form__icon--phone:focus,
.form__icon--email:hover,
.form__icon--email:focus {
  fill: var(--accent-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form__textarea {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  resize: none;
  margin-bottom: 20px;
  &:hover,
  &:focus {
    outline: 1px solid var(--accent-color);
    transition-property: outline;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.form__label-check {
  display: inline-block;
  font-size: 14px;
  line-height: calc(24 / 14);
}
.form__conditions {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.form__icon-check {
  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
  background-color: var(--for-black-color);
  fill: var(--for-black-color);
  margin-left: 12px;
  margin-right: 9px;
}
.form__conditions:checked + .form__icon-check {
  background-origin: border-box;
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  fill: var(--accent-color);
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__btn {
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
  padding: 10px 55px;
  margin-top: 30px;
  margin-left: 124px;
  cursor: pointer;
  &:focus,
  &:hover {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
