.form-f {
  // padding-top: 16px;
  // margin-left: 93px;
  // position: relative;
  text-align: center;

  @media screen and (min-width: 768px) {
    display: inline-block;
    align-self: flex-end;
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
    align-self: baseline;
  }
}
.form-f__wrapper {
  position: relative;
  @media screen and (min-width: 768px) {
    display: inline-block;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.form-f__input {
  // width: 358px;
  // border: 1px solid rgba(255, 255, 255, 0.3);
  // box-sizing: border-box;
  // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  // border-radius: 4px;
  // font-size: 16px;
  // line-height: calc(20 / 16);
  color: rgba(255, 255, 255, 0.6);
  // background: rgba(47, 48, 58, 1);
  // padding-left: 16px;
  // padding-top: 15px;
  // padding-bottom: 15px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:focus,
  &:hover {
    outline: 1px solid var(--accent-color);
    color: #e5e5e5;
    transition-property: outline, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  //---------------------------------------------
  margin: 0;
  width: 450px;
  height: 50px;
  padding: 18px 12px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}
.form-f__title {
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 15px;
}
.form-f__btn {
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 62px;
  cursor: pointer;
  margin-left: 12px;
}
.form-f__icon {
  position: absolute;
  right: 140px;
  bottom: 15px;
  fill: #fff;
  cursor: pointer;
  @media screen and (min-width: 1200px) {
    right: 25px;
    bottom: 15px;
  }
}
