.form-f {
  padding-top: 16px;
  margin-left: 93px;
  position: relative;
}
.form-f__input {
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: rgba(255, 255, 255, 0.6);
  background: rgba(47, 48, 58, 1);
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:focus,
  &:hover {
    outline: 1px solid var(--accent-color);
    color: #e5e5e5;
    transition-property: outline, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.form-f__title {
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 15px;
}
.form-f__btn {
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 62px;
  cursor: pointer;
  margin-left: 12px;
}
.form-f__icon {
  position: absolute;
  right: 20px;
  bottom: 40px;
  fill: #fff;
  cursor: pointer;
}
