header {
  border-bottom: 1px solid #ececec;
  background: var(--for-black-color);
  background-attachment: scroll;
  position: relative;
}
header .logo {
  margin-right: 94px;
  padding: 23px 0;
  // display: flex;
  align-items: center;
}
.container__header {
  @extend %container;

  position: relative;
  height: 60px;
  padding: 0 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    position: static;
    height: 80px;

    justify-content: flex-start;
  }
}
