.container__maps {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.frame {
  width: 480px;
  height: 360px;

  @media screen and (min-width: 768px) {
    width: 600px;
    height: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    height: 900px;
  }
}
.section__title--contacts {
  margin-top: 94px;
}
.contacts__wrapper {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
}
.contacts__thumb {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    .mobile-socials {
      display: flex;
      justify-content: center;
    }
  }
}
.contacts__thumb--darker {
  background-color: var(--bg-team);
}
.contacts__address,
.contacts__text {
  color: var(--primary-text-color);
  font-size: 26px;
  padding-bottom: 20px;
  @media screen and (min-width: 768px) {
    font-size: 26px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}

.mobile-socials__link {
  display: inline-block;
  color: var(--primary-text-color);
  font-size: 26px;
  padding: 5px;
  @include Anime(color);
  @media screen and (min-width: 768px) {
    font-size: 30px;
    padding: 15px 45px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}
.mobile-socials__item {
  @include Anime(border);
  @include Anime(background-color);
  @media screen and (min-width: 768px) {
    margin-top: 20px;
    &:not(:last-child) {
      border-right: 1px solid #000;
    }
  }
}
.mobile-socials__item:hover,
.mobile-socials__item:focus {
  cursor: pointer;
  background-color: #fff;
  border-radius: 6px;
  border: 3px solid var(--accent-color);
  //
  .mobile-socials__link {
    color: var(--accent-color);
  }
}
