.container__maps {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.frame {
  width: 480px;
  height: 360px;

  @media screen and (min-width: 768px) {
    width: 600px;
    height: 450px;
  }
  @media screen and (min-width: 1220px) {
    width: 1200px;
    height: 900px;
  }
}
.section__title--contacts {
  margin-top: 94px;
}
.contacts__wrapper {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
}
.contacts__address,
.contacts__text {
  color: var(--primary-text-color);
  font-size: 20px;
  @media screen and (min-width: 768px) {
    font-size: 26px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}
