.site-nav__link {
  color: var(--title-text-color);
  margin-right: 50px;
  display: inline-block;
  padding: 30.5px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  cursor: pointer;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover,
  &:hover::after {
    color: var(--accent-color);
    opacity: 1;
  }
  &::after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 100%;
    height: 4px;
    bottom: -1px;
    transform: translateX(-100%);
    border-radius: 2px;
    background-color: #2196f3;
    opacity: 0;
  }
}
.site-nav li:last-child a {
  margin-right: 0;
}
.auth-nav li:last-child a {
  margin: 0;
}
.auth-nav__link {
  font-family: Roboto;
  color: var(--primary-text-color);
  margin-right: 50px;
  display: flex;
  padding: 30.5px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  cursor: pointer;
  align-items: center;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}
.auth-nav__img {
  margin-right: 10px;
}
