img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  background: var(--for-black-color);
  color: var(--title-text-color);
  font-size: normal;
}
.section {
  padding-top: 94px;
}
.section:last-child {
  padding-bottom: 94px;
}
.section__title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.66667;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.section--darker {
  background: var(--bg-team);
}
.container {
  padding: 0 15px;
  width: 1200px;
  margin: 0 auto;
}
.container__end {
  display: flex;
  justify-content: flex-start;
}
.hidden-elem {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin-top: -1px;
  margin-bottom: 0;
}
nav,
.site-nav,
.auth-nav {
  display: flex;
  justify-content: space-between;
}
